version: "3.7"

services:
  postgres:
    image: circleci/postgres:13.3-ram
    ports:
      - '127.0.0.1:5432:5432'
    shm_size: '512mb'
    command: postgres -c shared_buffers=512MB -c max_connections=400
    environment:
      PGUSER: user
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: dbname

  mongo:
    image: mongo:8.0
    ports:
      - '127.0.0.1:27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: dbname

  redis:
    image: cimg/redis:7.4
    command: [
      "redis-server",
      "--protected-mode", "no",
      "--databases", "1000000",
    ]
    ports:
      - '127.0.0.1:6379:6379'

  rabbitmq:
    image: rabbitmq:4.0-management-alpine
    shm_size: '512mb'
    volumes:
      - /dev/shm:/var/lib/rabbitmq
    ports:
      - "127.0.0.1:5672:5672"
      - "127.0.0.1:15672:15672"

  statsd:
    image: catkins/statsd-logger
    ports:
      - '127.0.0.1:8125:8125/udp'

  minio:
    image: 'minio/minio'
    command: [
      'server',
      '/data/1', '/data/2','/data/3', '/data/4',
      '--address', ':9123',
      '--console-address', ':9000',
    ]
    environment:
      MINIO_ROOT_USER: 'minio'
      MINIO_ROOT_PASSWORD: 'minio123'
    ports:
      - '127.0.0.1:9123:9123'
      - '127.0.0.1:9000:9000'

  minio-no-ver:
    image: 'minio/minio'
    command: [
      'server',
      '/data',
      '--address', ':9124',
      '--console-address', ':9001',
    ]
    environment:
      MINIO_ROOT_USER: 'minio-nv'
      MINIO_ROOT_PASSWORD: 'minio-nv-123'
    ports:
      - '127.0.0.1:9124:9124'
      - '127.0.0.1:9001:9001'

  vault:
    image: hashicorp/vault:1.18.5
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: dummyroot
    ports:
      - '127.0.0.1:8200:8200'
      - '127.0.0.1:8201:8201'
    cap_add:
      - IPC_LOCK

  jaeger:
    image: jaegertracing/all-in-one:latest
    environment:
      COLLECTOR_OTLP_ENABLED: true
      LOG_LEVEL: debug
    ports:
      - "16686:16686"
      - "14268:14268"
      - "14250:14250"
      - "4317:4317"
      - "4318:4318"
